LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.AssemblyInfo.cs
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.AssemblyInfoInputs.cache
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.dll
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.pdb
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.sourcelink.json
LifeLink.Contracts/obj/Debug/net8.0/ref/LifeLink.Contracts.dll
LifeLink.Contracts/obj/Debug/net8.0/refint/LifeLink.Contracts.dll
LifeLink.Contracts/bin/Debug/net8.0/LifeLink.Contracts.dll
LifeLink.Contracts/bin/Debug/net8.0/LifeLink.Contracts.pdb
LifeLink/obj/Debug/net8.0/apphost.exe
LifeLink/obj/Debug/net8.0/LifeLink.AssemblyInfo.cs
LifeLink/obj/Debug/net8.0/LifeLink.AssemblyInfoInputs.cache
LifeLink/obj/Debug/net8.0/LifeLink.csproj.AssemblyReference.cache
LifeLink/obj/Debug/net8.0/LifeLink.dll
LifeLink/obj/Debug/net8.0/LifeLink.pdb
LifeLink/obj/Debug/net8.0/LifeLink.sourcelink.json
LifeLink/obj/Debug/net8.0/ref/LifeLink.dll
LifeLink/obj/Debug/net8.0/refint/LifeLink.dll
LifeLink/bin/Debug/net8.0/LifeLink.Contracts.dll
LifeLink/bin/Debug/net8.0/LifeLink.Contracts.pdb
LifeLink/bin/Debug/net8.0/LifeLink.dll
LifeLink/bin/Debug/net8.0/LifeLink.exe
LifeLink/bin/Debug/net8.0/LifeLink.pdb
