LifeLink.Contracts/bin/Debug/net8.0/LifeLink.Contracts.deps.json
LifeLink.Contracts/bin/Debug/net8.0/LifeLink.Contracts.dll
LifeLink.Contracts/bin/Debug/net8.0/LifeLink.Contracts.pdb
LifeLink/bin/Debug/net8.0/appsettings.Development.json
LifeLink/bin/Debug/net8.0/appsettings.json
LifeLink/bin/Debug/net8.0/LifeLink.Contracts.dll
LifeLink/bin/Debug/net8.0/LifeLink.Contracts.pdb
LifeLink/bin/Debug/net8.0/LifeLink.deps.json
LifeLink/bin/Debug/net8.0/LifeLink.dll
LifeLink/bin/Debug/net8.0/LifeLink.exe
LifeLink/bin/Debug/net8.0/LifeLink.pdb
LifeLink/bin/Debug/net8.0/LifeLink.runtimeconfig.json
LifeLink/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
LifeLink/bin/Debug/net8.0/Microsoft.OpenApi.dll
LifeLink/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
LifeLink/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
LifeLink/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
LifeLink.Contracts/obj/LifeLink.Contracts.csproj.nuget.dgspec.json
LifeLink.Contracts/obj/LifeLink.Contracts.csproj.nuget.g.props
LifeLink.Contracts/obj/LifeLink.Contracts.csproj.nuget.g.targets
LifeLink.Contracts/obj/project.assets.json
LifeLink.Contracts/obj/project.nuget.cache
LifeLink.Contracts/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.AssemblyInfo.cs
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.AssemblyInfoInputs.cache
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.assets.cache
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.csproj.CoreCompileInputs.cache
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.csproj.FileListAbsolute.txt
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.dll
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.GeneratedMSBuildEditorConfig.editorconfig
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.GlobalUsings.g.cs
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.pdb
LifeLink.Contracts/obj/Debug/net8.0/LifeLink.Contracts.sourcelink.json
LifeLink.Contracts/obj/Debug/net8.0/ref/LifeLink.Contracts.dll
LifeLink.Contracts/obj/Debug/net8.0/refint/LifeLink.Contracts.dll
LifeLink/obj/LifeLink.csproj.nuget.dgspec.json
LifeLink/obj/LifeLink.csproj.nuget.g.props
LifeLink/obj/LifeLink.csproj.nuget.g.targets
LifeLink/obj/project.assets.json
LifeLink/obj/project.nuget.cache
LifeLink/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LifeLink/obj/Debug/net8.0/apphost.exe
LifeLink/obj/Debug/net8.0/LifeLink.AssemblyInfo.cs
LifeLink/obj/Debug/net8.0/LifeLink.AssemblyInfoInputs.cache
LifeLink/obj/Debug/net8.0/LifeLink.assets.cache
LifeLink/obj/Debug/net8.0/LifeLink.csproj.AssemblyReference.cache
LifeLink/obj/Debug/net8.0/LifeLink.csproj.CoreCompileInputs.cache
LifeLink/obj/Debug/net8.0/LifeLink.csproj.FileListAbsolute.txt
LifeLink/obj/Debug/net8.0/LifeLink.csproj.Up2Date
LifeLink/obj/Debug/net8.0/LifeLink.dll
LifeLink/obj/Debug/net8.0/LifeLink.GeneratedMSBuildEditorConfig.editorconfig
LifeLink/obj/Debug/net8.0/LifeLink.genruntimeconfig.cache
LifeLink/obj/Debug/net8.0/LifeLink.GlobalUsings.g.cs
LifeLink/obj/Debug/net8.0/LifeLink.MvcApplicationPartsAssemblyInfo.cache
LifeLink/obj/Debug/net8.0/LifeLink.MvcApplicationPartsAssemblyInfo.cs
LifeLink/obj/Debug/net8.0/LifeLink.pdb
LifeLink/obj/Debug/net8.0/LifeLink.sourcelink.json
LifeLink/obj/Debug/net8.0/staticwebassets.build.json
LifeLink/obj/Debug/net8.0/ref/LifeLink.dll
LifeLink/obj/Debug/net8.0/refint/LifeLink.dll
LifeLink/obj/Debug/net8.0/staticwebassets/msbuild.build.LifeLink.props
LifeLink/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.LifeLink.props
LifeLink/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.LifeLink.props
.vscode/settings.json
LifeLink/bin/Debug/net8.0/Humanizer.dll
LifeLink/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
LifeLink/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
LifeLink/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
LifeLink/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
LifeLink/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
LifeLink/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
LifeLink/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
LifeLink/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
LifeLink/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
LifeLink/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
LifeLink/bin/Debug/net8.0/Mono.TextTemplating.dll
LifeLink/bin/Debug/net8.0/Npgsql.dll
LifeLink/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
LifeLink/bin/Debug/net8.0/System.CodeDom.dll
LifeLink/bin/Debug/net8.0/System.Composition.AttributedModel.dll
LifeLink/bin/Debug/net8.0/System.Composition.Convention.dll
LifeLink/bin/Debug/net8.0/System.Composition.Hosting.dll
LifeLink/bin/Debug/net8.0/System.Composition.Runtime.dll
LifeLink/bin/Debug/net8.0/System.Composition.TypedParts.dll
LifeLink/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
LifeLink/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
LifeLink/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
LifeLink/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
