<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/47d6007e-ae23-4238-a340-0cfa686f9b4b/resourceGroups/ResourceGroup/providers/Microsoft.Web/sites/LifeLink-api</ResourceId>
    <ResourceGroup>ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://lifelink-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ac09189c-5976-4313-aedd-7b63a8662044</ProjectGuid>
    <PublishUrl>https://lifelink-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LifeLink-api</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUxMbm1cT30eJrnlBkQlDMQAAAAACAAAAAAAQZgAAAAEAACAAAACNcVi9FIbCOvvpyWneRVmexNuHvmi6je2A111DaaggcgAAAAAOgAAAAAIAACAAAADAnPGGRVhS4+l6ZsMMVb86bkfddGFsreHq2DHuclgSUYAAAADKawDqCfYw7WIy8ex/Ilia+QCUrYHnlsazsog4Rcu7jNa2pt7k46JgNKZdMd7918DLPdic28G+YNcbR7y9oZQfsBkLQk9uDmniASGQ3XsCYxgtFqULa9NVOenpRTwMisVHdpNXQmMvoo8XoaJHpryAQNpzr/srZ4rNmRV2fwvABkAAAAC/eo6TvinZPgJa+J49vhXaEcDhuzjtj6jawySLZSFQPGZBWrrFVTYgmL93iSIFrKSmRNjJdJkrDkdIjAaW2f9X</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>